#**Data structure assignment**

Q1. What are data structures, and why are they important ?
-   Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

The data structure is important because:-
1. Choosing the right data structure significantly impacts the efficiency and performance of your program.
2. Well-chosen data structures can: Simplify data manipulation (adding, removing, modifying elements)
3. It can optimize searching and sorting operations
4. It also conserve memory usage

Q2. Explain the difference between mutable and immutable data types with examples.
-   Mutable and immutable data types are fundamental concepts in programming, particularly in languages like Python.

The difference between them are as follows:

Mutable - Mutable data types can be modified but are less efficient for small changes and are also not thread safe.
Example:- Lists, Dictionaries and sets.          

Immutable - Immutable data types cannot be modified but are more efficient and are also thread safe.
Example:- Strings, Tuples, Integers, Floats

Q3.  What are the main differences between lists and tuples in Python?

The diffence between lists and tuples in python are as follows:

Lists - List is an ordered, mutable collections of elements.It can hold items of various data types numbers, strings, even other lists.
It can perform various operations like add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.

Tuples - Tuples is an Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
We can perform various operations like accessing elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

Q4. Describe how dictionaries store data.
-   Dictionary is an unordered collection of elements and are not stored in a specific order.In unique key-value pairs each key acts as a unique identifier for retrieving an associated value.It is having a flexible data types in the form of keys and values like strings, numbers, lists, and even other dictionaries.

Q5. Why might you use a set instead of a list in Python?
-   In Python, choosing between a set and a list depends on the specific requirements of your task.
Few advantages are as follows:
1. Ensuring Uniqueness:Sets automatically eliminate duplicate entries. If you need a collection of unique elements, a set is ideal.
2. Faster Membership Testing: Set is more efficient and beneficial for large datasets.
3. Performing Set Operations:Sets support mathematical operations like union, intersection, and difference, which are not directly available with lists.
4. Unordered Collections: If the order of elements is not important, sets provide a more efficient way to store and manage data.

Q6. What is a string in Python, and how is it different from a list?
-   String is a caracter which is arranged in an unchangeable order. We can consider writing a sentence, a paragraph, or a piece of material.

 The difference between string and list are as follows:
1. String - A string in Python is an immutable character which is used to represent textual data. It is having a data type characters and are enclosed in syntax quotes (') or (").String requires a modification in creating a new string. It is generally represnted in text form.

2. List - A list in Python is a mutable sequence that can hold a collection of items, which can be of any data types. It is enclosed in ([]) and can modify in place.Its use case is generally a collection of items.

Q7. How do tuples ensure data integrity in Python?
-   In Python, tuples are immutable, ordered collections of elements. This immutability plays a crucial role in ensuring data integrity by preventing unintended modifications to the data they contain.
1. Immutability Ensures Consistency
2. Thread-Safety in Concurrent Environments
3. Ideal for Fixed Data Representations

Q8. What is a hash table, and how does it relate to dictionaries in Python?
-   A hash table is a data structure that maps keys to values using a hash function. The hash function computes an index (also called a hash code) into an array of buckets or slots, from which the desired value can be found.In Python, the built-in (dict) type is implemented using a hash table.

Q9. Can lists contain different data types in Python?
-   Yes, lists in Python can contain different data types.Python lists are heterogeneous, means they can hold elements of any type, including a mix of types within the same list.

Q10. Explain why strings are immutable in Python?
-    Strings are immutable in Python because once a string object is created, its contents cannot be changed.
Strings are immutable in Python to ensure:
1.Safety and simplicity to prevent it from accidental changes
2.Strings are immutable objects that can be hashed, which is essential for
using it as dictionary keys and Storing them in sets
3.Its performance optimization saves memory and speed up comparisons

Q11. What advantages do dictionaries offer over lists for certain tasks?
-    Dictionaries offer several key advantages over lists for certain tasks:
1. Faster lookups
2. Key based access
3. No Need to Know Position
4. Avoiding Duplicate Keys

Q12. Describe a scenario where using a tuple would be preferable over a list ?
-    Tuples are immutable types and can be used as dictionary keys or elements of sets. Lists can't be used for this, but tuples can.
Example: Using a tuple as a key:

In [1]:
grid = {}
grid[(1, 2)] = "Tree"
grid[(2, 3)] = "Water"
grid

{(1, 2): 'Tree', (2, 3): 'Water'}

Q13. How do sets handle duplicate values in Python?
-    In Python, sets automatically remove and prevent duplicate values.The key Behavior of sets are as follows:A set is an unordered collection of unique elements and if we try to add a duplicate value, it is simply ignored—no error, no duplication.

Q14. How does the “in” keyword work differently for lists and dictionaries?
-    The "in" keyword is used in both lists and dictionaries in Python, but it behaves differently depending on the data structure:

Lists - In lists "in" checks whether a value exists among the elements of the list and it performs a linear search.

Dictionaries -In dictionary "in" checks whether a 'key' exists in the dictionary not a value and lookup is fast using hashing.

Q15. Can you modify the elements of a tuple? Explain why or why not?
-    No, we cannot modify the elements of a tuple in Python. Tuples are immutable their contents cannot be changed after creation because
once a tuple is created, we cannot change, add, or remove its elements.
Tuples ensures data integrity and prevents accidental changes as well as
it can be dictionary keys or set elements if they only contain immutable items.It also gives predictability in code.

Q16. What is a nested dictionary, and give an example of its use case?
-    A nested dictionary in Python is a dictionary where values themselves are dictionaries.

In [2]:
nested_dict = {"Soma": {"age": 27, "job": "Doctor"},
    "Bob": {"age": 30, "job": "Sales"}}
print(nested_dict)

{'Soma': {'age': 27, 'job': 'Doctor'}, 'Bob': {'age': 30, 'job': 'Sales'}}

Q17. Describe the time complexity of accessing elements in a dictionary?
-   Accessing an element in a dictionary using its key typically has a time complexity of on an average, means it takes constant time, regardless of the dictionary's size.

Q18. In what situations are lists preferred over dictionaries?
-    Lists are preferred over dictionaries in situations where:
1. Lists maintain the order of elements.
2. When we just need a simple collection of items without keys.
3. When we want to access elements by index rather than by key.
4. Lists allow duplicate elements and are relevant.
5. Lists make it easy to iterate over items in a guaranteed order.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-    Before Python 3.7, dictionaries were considered unordered collections, means the order of key-value pairs was not guaranteed.
We couldn’t rely on items coming out in the same order they were added.
It affects the data retrieval by access method using the key , it also access average time , doesn't support index access but insertion order is maintained.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
-    The key difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed:
List:
1. Indexed collection of elements.
2. Data is retrieved by position (integer index).
3. Ordered and allows duplicates.

Dictionary:
1. Key-value pair collection.
2. Data is retrieved by key (not index).
3. Unordered in concept, but insertion order is preserved

#**Practical Questions**

Q1. Write a code to create a string with your name and print it.

In [3]:
name ="Soma"
print(name)

Soma

Q2.  Write a code to find the length of the string "Hello World"?

In [4]:
s = "Hello World"
len(s)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [5]:
String1 = "Python Programming"
String1[0:3]

'Pyt'

Q4. Write a code to convert the string "hello" to uppercase.

In [6]:
text = "hello"
text.upper()

'HELLO'

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
s = "I like apple"
s.replace("apple","orange")

'I like orange'

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
numbers =[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
lis = [1,2,3,4]
lis

[1, 2, 3, 4]

In [10]:
lis.append(10)
lis

[1, 2, 3, 4, 10]

Q8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
lis =[1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [15]:
lis =['a','b','c','d']
lis[1]

'b'

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [16]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [19]:
my_tuple =('red', 'green', 'blue', 'yellow')
my_tuple[1::]

('green', 'blue', 'yellow')

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [20]:
tuple = (10, 20, 5, 15)
min(tuple)

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [21]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits = ("apple", "banana","kiwi", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [26]:
s ={1,2,3,4,5}
s.clear()
s

set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
set = {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
set1 ={1, 2, 3}
set2 ={3, 4, 5}
set1|set2

{1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [29]:
s1= {1, 2, 3}
s2= {2, 3, 4}
s1 & s2

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [30]:
my_dict = {"name":"Soma","age":27,"city":"Gurgaon"}
print(my_dict)

{'name': 'Soma', 'age': 27, 'city': 'Gurgaon'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [31]:
d = {'name': 'John', 'age': 25}
d["country"]="USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [32]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [33]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
d

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [34]:
d = {'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

my_tuple = ('apple', 'banana', 'cherry')
print("Tuple:", my_tuple)

my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random
random_numbers = random.sample(range(1, 101), 5)
sorted_numbers = sorted(random_numbers)
print(sorted_numbers)

[3, 11, 15, 22, 65]

Q28. Write a code to create a list with strings and print the element at the third index.

In [37]:
my_list = ["apple", "banana", "cherry", "mango", "pineapple"]
print(my_list[3])

mango

Q29. Write a code to combine two dictionaries into one and print the result.

In [39]:
d = {'a': 1, 'b': 2}
d1= {'c': 3, 'd': 4}

d.update(d1)
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [53]:
fruits = ["mango", "orange", "grape", "mango", "pear"]
unique_fruits = set(fruits)
print(unique_fruits)

TypeError: 'set' object is not callable